* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #171515;
  color: hsl(200, 100%, 91%);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.btn {
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.btn-danger {
  background-color: crimson;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0;
  border-bottom: 1px solid #f5a8a8;
}

.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 88%, 19%);
  border-radius: 0.25em;
  padding: 0.5em 0.5em;
  color: hsl(201, 100%, 93%);
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: decimal-leading-zero;
}

.title {
  font-size: larger;
}

.title > span {
  padding: 0 5px;
}
